@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #F8F9FF;
    --green: #009379;
    --light-green: #E5F4F2;
    --light-black: #2D2D2D;
    --blue: #2B73FE;
    --orange: #F2BFAF;
    --dark-gray: #4E4D4D;
    --font-text: "Mulish", sans-serif;
}

body {
    background-color: var(--bg-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

/* img {
    width: 100%;
} */

.wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 0 10px;
}

/* Header */

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
    padding: 32px 0;
}

.img-logo {
    width: 32px;
    height: 32px;
}

.text-logo {
    font-size: 21px;
    font-weight: 400;
    margin-left: 2.5px;
}

.header-links {

}

.header-links-list {
    display: flex;
    align-items: center;
}

.header-link-item-contact {
    margin-right: 50px;
}

.header-link-item-faq {
    background-color: var(--light-green);
    border-radius: 20px;
    padding: 18px 50px;
    margin-right: 20px;
}

.header-link-item-start {
    display: flex;
    align-items: center;
    background-color: var(--green);
    border-radius: 20px;
    padding: 18px 50px;
}

.link-contact {
    color: var(--green);
    font-size: 16px;
    font-weight: 600;
}

.link-faq {
    color: var(--green);
    font-size: 16px;
    font-weight: 600;
}

.link-start {
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-left: 8px;
}

/* Hero */

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    max-width: 648px;
}

.hero-title {
    color: var(--light-black);
    font-size: 67px;
    font-weight: bold;
    line-height: 130%;
    margin-bottom: 20px;
}

.hero-subtitle {
    font-size: 21px;
    font-weight: 400;
    color: var(--light-black);
    font-family: var(--font-text);
}

.link-anima {
    color: var(--blue);

}

.hero-links {
    display: flex;
    margin-top: 40px;
}

.hero-link-item-faq {
    background-color: white;
    border: 1px solid var(--green);
    border-radius: 20px;
    padding: 18px 50px;
    margin-left: 18px;
}

.hero-visual {
    margin: 120px 0;
}

.hero-image {
    width: 450px;
    height: 450px;
}

/* Clients Section */

.clients-section {
    margin: 60px 0;
}

.clients-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
}

.clients-item {
    display: flex;
    align-items: center;
}

/* Features */

.features-section {
    padding: 120px 0;
}

.features-content {
    text-align: center;
}

.section-title {
    color: black;
    font-size: 38px;
    line-height: 130%;
    font-weight: 700;
    margin-bottom: 20px;
}

.section-subtitle {
    color: var(--light-black);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font-text);
}

.features-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 60px;
}

.feature-card {
    background-color: white;
    border-radius: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 34px 29px 48px rgba(51, 102, 255, 0.05);
}

.feature-card-content {
    max-width: 310px;
}

.feature-card:nth-child(1) .feature-icon {
    background-color: #FFE0DC;
}

.feature-card:nth-child(2) .feature-icon {
    background-color: #CCE9E4;
}

.feature-card:nth-child(3) .feature-icon {
    background-color: #FEF7E5;
}

.feature-icon {
    padding: 20px;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.feature-title {
    font-size: 28px;
    color: var(--light-black);
    font-weight: 600;
    margin-bottom: 24px;
}

.feature-description {
    font-size: 16px;
    line-height: 150%;
    font-family: var(--font-text);
    color: var(--light-black);
}

.feature-link-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.feature-link {
    color: var(--green);
    margin-right: 8px;
    font-size: 16px;
    font-weight: 600;
}

/* Rating Section */
.rating-section {
    padding: 120px 0;
}

.rating-content {
    text-align: center;
}

.rating-cards {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.rating-card {
    width: 100%;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 4px solid var(--orange);
    box-shadow: 34px 29px 48px rgba(51, 102, 255, 0.05);
}

.rating-card-content {
    padding: 48px 16px;
}

.rating-num {
    color: var(--light-black);
    font-size: 38px;
    line-height: 130%;
    font-weight: 700;
    margin-bottom: 5px;
}

.rating-text {
    color: var(--light-black);
    font-size: 16px;
    font-family: var(--font-text);
}

/* Banner */
.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.banner-visual {
    margin: 120px 0;
}

.banner-image {
    width: 540px;
    height: 450px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.banner-title {
    color: var(--light-black);
    font-size: 50px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 20px;
}

.banner-subtitle {
    color: var(--light-black);
    font-size: 21px;
    font-family: var(--font-text);
    margin-bottom: 40px;
}

.banner-content .header-link-item-start .link-start {
    margin-right: 8px;
}